*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/vendor/


!uploads/backup/index.html
!uploads/backup/*.gz
uploads/ueditor/*
!uploads/ueditor/index.html
!uploads/ueditor/file/index.html
!uploads/ueditor/image/index.html

uploads/product
uploads/news

/uploads_thumb/
/database.php
/config.php
/log-*.php

*的副本.php