RewriteEngine on
DirectoryIndex index.html index.php
SetEnv CI_ENV development
#SetEnv CI_ENV production
RewriteCond $1 !^(index\.php|index.\html|themes|uploads|uploads_thumb|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]